@import '../abstracts/colors';

%menuItem {
  width: 0;
  flex-grow: 1;
  color: inherit;
  font-family: inherit;
  font-size: 1.25rem;
  letter-spacing: 0.125rem;
  text-align: center;
  text-transform: uppercase;

  svg {
    display: 'block';
    width: 3.75rem;
    margin: 0 auto 1rem;
    fill: $secondary;
  }
}

%linkedMenuItem {
  @extend %menuItem;
  cursor: pointer;
  text-decoration: none;
}
