@import '../abstracts/colors';

@mixin menuItem() {
  width: 0;
  flex-grow: 1;
  color: inherit;
  font-family: inherit;
  font-size: 1.25rem;
  letter-spacing: 0.125rem;
  text-align: center;
  text-transform: uppercase;

  svg {
    display: 'block';
    width: 3.75rem;
    margin: 0 auto 1rem;
    fill: $secondary;
  }
}

@mixin linkedMenuItem() {
  @include menuItem();
  cursor: pointer;
  text-decoration: none;
}

@mixin card() {
  padding: 2rem 2.5rem;
  background-position: center;
  background-size: cover;
  border-radius: 0.375rem;
  color: #FFF;
}
