@import '../../scss/abstracts/colors';

.bar {
  height: 0.75rem;
  flex-shrink: 0;
  background-color: $primary;
}

.container {
  display: flex;
  width: 100%;
  max-width: 37.5rem;
  flex-direction: column;
  flex-grow: 1;
  padding: 1.5rem;
  padding-bottom: 2.5rem;
  margin: 0 auto;
}
