@import '../../scss/abstracts/mixins';

.launchTile {
  @include card();
  display: block;
  height: 12rem;
  margin-top: padding;
  text-decoration: none;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
