@import '../../scss/abstracts/colors';

.container {
  position: sticky;
  bottom: 0;
  flex-shrink: 0;
  margin-top: auto;
  background-color: #FFF;
  color: $textSecondary;
}

.innerContainer {
  display: flex;
  max-width: 28.75rem;
  align-items: center;
  padding: 1.25rem;
  margin: 0 auto;
}
